@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
* {
    font-family: 'Comfortaa';
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
}